body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

img{
    width: 400px;
    margin-bottom: 60px;
}

.container {
    text-align: center;
}

h2{
    color: red;
    font-size: 35px;
}

.text {
    color: red;
    font-size: 25px;
    font-weight: 700;
}

.btn-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
}

.section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.section_produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section_adm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section_categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section a {
    text-decoration: none;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}
 